.cell{
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.position{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    font-size: 0.9rem;
}

.position_black{
    color: #769656;
}

.position_white{
    color: #eeeed2;
}

.cell img{
    width: 62px;
    height: 58px;
    position: relative;
}

.black{
    background-color: #769656;
}

.white{
    background-color: #eeeed2;
}


.selected{
    background-color: #f6f669;
}

.available{
    position: absolute;
    height: 35%;
    width: 35%;
    border-radius: 50%;
    background-color: rgba(0,0,0,.1);
}

.can_eat{
    height: 70%;
    width: 70%;
}

.availableFigure{
    background-color: green;
}


.drag{
    outline: 2px solid white;
    outline-offset: -2px;

}

