.menu_container{
    height: 100%;
    background-color: #272522;
    width: clamp(300px,90%, 600px);
    border-radius: 5px;
    margin-left: 0.5rem;
}

.history_points_container{
    height: 100%;
    max-height: 50%;
    overflow-y: scroll;
}

.history_points_container::-webkit-scrollbar {
    width: 0;
}

.menu_header{
    color: white;
    text-align: center;
    padding-top: 1.5rem;
}

.header_container{
    background: radial-gradient(40rem 15rem at top center,rgba(0,0,0,.14) 40%,rgba(2,1,1,0) 0);
    height: 100px;
}

.button_icon{
    color:hsla(0,0%,100%,.65);
    font-size: 1.5rem;
}

.history_controls{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.button_icon:hover{
    filter: brightness(0.8);
}

.back_button_container{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.back_button{
    width: 60%;
    padding: 1rem;
    text-transform: uppercase;
    background-color: #7fa650;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

.back_button:hover{
    filter: brightness(0.8);
}

.back_button:disabled{
    filter: brightness(0.6);
}

@media( max-width: 769px){
    .menu_container{
        margin-left: 0;
    }
}